* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* FUENTE DOCUMENTO */
body{
    font-family: 'Poppins',sans-serif;
}
.image{
    padding: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    background: url("logo/store.png") center;
    width: 400px;
    background-size: cover;
}
#busqueda{
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    background-color: antiquewhite;
}
#button1{
    padding:5px 12px;
    margin-right: 50%;
    border-radius: 5px;
    font-weight: bold;
    background-color: black;
    color: white;
}
.navbar{
    align-items: center;
    padding: 20px;
}
.navbar-center{
    padding-bottom: 0;
    justify-content: center;
}


nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);    
}
a:hover {
    color: #ffdcc2;
}


p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* MENU ICONO */

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* MEDIA MENU RESPONSIVO */

@media only screen and (max-width: 800px){
    nav ul{
        top: 70px;
        left: 0;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/* MEDIA QUERY MENU RESPONSIVO LESS600 SZ */
@media only screen and(max-width:600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}


/* IMAGEN FUTBOL */
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    margin-top: 40px;
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

/* BOTON EXPLORA YA */
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 15px 40px;
    margin: 30px 0;
    border-radius: 10px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}

/* FONDO DE IMAGEN */

/* CATERGORIAS 3 IMAGENES  */
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
    filter: grayscale(100%);
}
.col-3 img:hover{
    filter: grayscale(0);
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* CATERGORIAS COMPRA */
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
/* LINEA ROJA TITULO */
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* TEXTOS */
.h4 {
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;    
}
.raiting .fa{
    color: #ff523b;
}
/* EFECTO PRODUCTO LEVANTADO*/
.col-4:hover{
    transform: translateY(-5px);
}

/* MARCAS */

.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/*Carrousel*/

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #EFC976;
}
.container-slider{
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff, 0 15px 50px;
    position: relative;

}
.slider{
    display: flex;
    width: 400%;
    height: 400px;  
    margin-left: -100%;

}
.slider__section{
    width: 100%;
}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255,0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover{
    background: #fff;
}

.slider__btn--left{
    left: 10px;
}

.slider__btn--right{
    right: 10px;
}

