body{
    background: radial-gradient(#fff,#12d4ae);
}
#bienvenida{
    background-color: rgb(16, 187, 230);
}
.abc{
    width: 100%;
    
    background-color: aquamarine;
}
.ab{
    padding: 30px;
}
.imagen1{
    padding: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    background: url("logo/store.png") center;
    width: 400px;
    background-size: cover;
}

#button1{
    padding: 5px 12px;
    margin-right: 40%;
    border-radius: 5px;
    font-weight: bold;
    background-color: black;
    color: white;
}
#button1:hover{
    background-color: rgb(208, 82, 44);
}
.register{
    margin: auto;
    text-align: center;
    padding: 15px;
}


#primero{
    padding: 30px;
}

.searchbar
{
    text-align: left;
}

#busqueda{
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    background-color: antiquewhite;
}


.submenu {
    list-style:none;
    position: relative;
    text-align: right;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

.cen_iz
{
    text-align: right;
}

