*{
    box-sizing: border-box;
    margin: 0;
    background: fixed;
}

form{

}
.header{
    background-color: rgb(255, 255, 255);
}
.porsi{
    padding: 20px;
}
.all{
    border-top: 1px solid black;
    border-radius: 6px;
    justify-content: center;
    padding: 24px !important;
    font-size: 14px;
    background-color: rgb(249, 247, 247);
    border: 1px solid black;
} 
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.logo{

    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    background: url("logo/amazon.png") no-repeat center center;
    background-size: contain;
  }
h1{
    padding: 15px;
    font-size: 3.5em;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: center;
    margin-top: 10;
}
.login{
    box-sizing: border-box;
    text-align: center;
    align-items: center center;
}
.login label{
    display: block;
    font-weight: bold;
}

.control{
    padding: 5px 12px;
    margin-bottom: 16px;
    vertical-align: middle;
    background-position: right 8px center;
    border-radius: 3px;
}
a{
    text-decoration: none;
    
}
a:hover{
    color: rgb(99, 138, 237);
}
p{
    font-size: 1.10em;  
}
 .dos{
    padding: 3px 5px 6px 50px;
}
.button2{
    font-size: 1.25em;
    font-weight: bold;
    display: block;
    background-color: rgb(253, 197, 11);
    color: white;
    border-radius: 3px;
    box-shadow:1px 1px 5px rgb(0,0,0,0.5);
    padding: 5px 16px;
    text-align: center !important;
}
.button2:hover{
    background-color: rgba(255, 175, 4, 0.992);
}
