*{
    box-sizing: border-box;
    margin: 0;
    background: fixed;
}

.porsi{
    padding: 20px;
}

.all{
    border-top: 1px solid black;
    border-radius: 6px;
    justify-content: center;
    padding: 24px !important;
    background-color: rgb(249, 247, 247);
    border: 1px solid black;
    width: 400px;
    margin: auto;
} 

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

h1{
    padding: 15px;
    font-size: 2.5em;
    font-weight: arial;
    letter-spacing: -0.5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.login{
    box-sizing: border-box;
    text-align: center;
    align-items: center center;
}

.login label{
    display: block;
    font-weight: bold;
}

.control{
    padding: 8px 20px;
    margin-bottom: 16px;
    vertical-align: middle;
    background-position: right 8px center;
    border-radius: 3px;
}

a{
    text-decoration: none;
    
}

a:hover{
    color: rgb(99, 138, 237);
}

p{
    font-size: 1.10em;  
}

.dos{
    padding: 3px 5px 6px 50px;
}

.button2{
    font-size: 1.25em;
    font-weight: bold;
    display: block;
    background-color: rgb(253, 197, 11);
    color: white;
    border-radius: 3px;
    box-shadow:1px 1px 5px rgb(0,0,0,0.5);
    padding: 5px 16px;
    text-align: center !important;
    margin: auto;
    margin-top: 7px;
}

.button2:hover{
    background-color: rgba(255, 175, 4, 0.992);
}

.usuario_{
    font-weight: arial;
    font-size: 1.3em;    
}