

.box {
    border: 1px solid black;
    width: 300px;
    padding: 20px 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
}
.box *{
    display: block;
}
.box input {
    margin: 0 auto;
}
h3 {
    font-size: 30px;
    margin: 0;
    text-align: left;
}
label {
    margin: 10px 0;
    font-size: 14px;
    display: flex !important;
}


button {
    background: #ffc107;
    margin: 20px auto 0;
    
}


.img2 {
    height: 100%;
    width: 100%;
    margin: auto;
}
