.box {
    border: 1px solid black;
    width: 350px;
    padding: 20px 30px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgb(249, 247, 247);       
}
.box *{
    display: block;
}
.box input {
    margin: 0 auto;
}
.image{
    padding: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    background: url("logo/store.png") center;
    width: 400px;
    background-size: cover;
}
h3 {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
}
label {
    margin: 10px 0;
    font-size: 14px;
    display: flex !important;
}


button {
    background: #ffc107;
    margin: 20px auto 0;
    padding: 8px 15px;    
}
button:hover{
    background: #ffc1095d;
}



.img2 {
    height: 100%;
    width: 100%;
    margin: auto;
}

.entrada{
    padding: 15px;
    border-radius: 5px;
}
.e_entrada{
    font-size: 0.9em;    
    font-weight: bold;
}