{%extends "layout.html"%}

{%block estilos%}
    <link rel="stylesheet" href='{{ url_for("static", filename="carrito.css") }}'>
    <link rel="stylesheet" href="store5.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
{%endblock%}

{%block contenido%}

        <div class="header">
    
            <div class="container">
                <div class="navbar navbar-center">
                    <div class="logo">
                        <img src="images_store/logo.png" width="125px">
                    </div>
                </div>      
                
            </div>
        </div>


        <!-- Productos del carrito -->
        <div>
            <table style="margin: 0 auto;">
                <tbody>
                    <tr>
                        <td class="summary-img-wrap">
                            <div class="summary-img">
                                <div class="summary-img-thumb">
                                    <img alt="Campera Leather Night (XS, Marrón)" title="Campera Leather Night (XS, Marrón)" src="images_store/product-1.jpg" width="75px">
                                </div>
                            </div>
                        </td>
                        <td test-id="product-name-qty">
                            Campera Leather Night (XS, Marrón) × 1
                        </td><td class="table-price text-right" width="150px" test-id="product-subtotal">
                            $4.000,00
                        </td>
                    </tr>
                    <tr>
                        <td class="summary-img-wrap">
                            <div class="summary-img">
                                <div class="summary-img-thumb">
                                    <img alt="Remera Dale! (Gris, S)" title="Remera Dale! (Gris, S)" src="images_store/product-1.jpg" width="75px">
                                </div>
                            </div>
                        </td>
                        <td test-id="product-name-qty">
                            Remera Dale! (Gris, S) × 1
                        </td>
                        <td class="table-price text-right" width="150px" test-id="product-subtotal">
                            $499,00
                        </td>
                    </tr>
                    <tr>
                        <td class="summary-img-wrap">
                            <div class="summary-img">
                                <div class="summary-img-thumb">
                                    <img alt="Remera Dale! (Blanco, XL)" title="Remera Dale! (Blanco, XL)" src="images_store/product-1.jpg" width="75px">
                                </div>
                            </div>
                        </td>
                        <td test-id="product-name-qty">
                            Remera Dale! (Blanco, XL) × 1
                        </td>
                        <td class="table-price text-right" width="150px" test-id="product-subtotal">
                            $499,00
                        </td>
                    </tr>
                </tbody>
                <tr>
                    <td test-id="product-name-qty">
                        TOTAL 
                    </td>
                    <td test-id="product-name-qty">
                        
                    </td>
                    <td class="table-price text-right" width="150px" test-id="product-subtotal">
                        $499,00
                    </td>
                </tr>
            </table>
        </div>

        <!-- Productos Destacados -->
        <div class="small-container">
            <h2 class="title">Productos Destacados</h2>
            <div class="row">
                <div class="col-4">
                    <img src="images_store/product-1.jpg">
                    <h4> Camisa de color Rojo</h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>50so</p>
                </div>
                <div class="col-4">
                    <img src="images_store/product-2.jpg">
                    <h4> Camisa de color Rojo</h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>50so</p>
                </div>
                <div class="col-4">
                    <img src="images_store/product-3.jpg">
                    <h4> Camisa de color Rojo</h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>50so</p>
                </div>
                <div class="col-4">
                    <img src="images_store/product-4.jpg">
                    <h4> Camisa de color Rojo</h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>50so</p>
                </div>
            </div>
        </div>
    
        <!-- MARCAS -->
        <div class="brands">
            <div class="small-container">
                <div class="row">
                    <div class="col-5">
                        <img src="images_store/logo-godrej.png">
                    </div>
                    <div class="col-5">
                        <img src="images_store/logo-coca-cola.png">
                    </div>
                    <div class="col-5">
                        <img src="images_store/logo-oppo.png">
                    </div>
                    <div class="col-5">
                        <img src="images_store/logo-paypal.png">
                    </div>
                    <div class="col-5">
                        <img src="images_store/logo-philips.png">
                    </div>
                </div>
            </div>
        
{%endblock%}