{%extends "layout.html"%}

{%block estilos%}
    <link rel="stylesheet" href='{{ url_for("static", filename="carrito.css") }}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
{%endblock%}

{%block contenido%}


        <!-- Productos del carrito -->
        <div id="carrito">
            <table id="lista-carrito" class="u-full-width">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
        </div>

        <!-- Productos Destacados -->
        <div class="small-container">
            <h2 class="title">Productos Destacados</h2>
            <div class="row">
                <div class="col-4">
                    <img src="../static/images_store/product-1.jpg">
                    <h4> Figura de Accion Krilin </h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p> S./ 60.00 </p>
                    <a href="#" class="agregar-carrito" data-id="1">Agregar
                        Al Carrito</a>
                </div>
                <div class="col-4">
                    <img src="../static/images_store/product-2.jpg">
                    <h4> Figura de Accion Freezer </h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p> S./ 60.00 </p>
                    <a href="#" class="agregar-carrito" data-id="2">Agregar
                        Al Carrito</a>
                </div>
                <div class="col-4">
                    <img src="../static/images_store/product-3.jpg">
                    <h4> Figura de Accion Bardok </h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p> S./ 60.00 </p>
                    <a href="#" class="agregar-carrito" data-id="3">Agregar
                        Al Carrito</a>
                </div>
                <div class="col-4">
                    <img src="../static/images_store/product-4.png">
                    <h4> Figura de Accion Goku </h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p> S./ 60.00 </p>
                    <a href="#" class="agregar-carrito" data-id="4">Agregar
                        Al Carrito</a>
                </div>
            </div>
        </div>
    
        <!-- MARCAS -->
        <div class="brands">
            <div class="small-container">
                <div class="row">
                    <div class="col-5">
                        <img src="../static/images_store/dragon_ball.png">
                    </div>
                    <div class="col-5">
                        <img src="../static/images_store/ufotable.png">
                    </div>
                    <div class="col-5">
                        <img src="../static/images_store/toei_animation.png">
                    </div>
                    <div class="col-5">
                        <img src="../static/images_store/logo_empresa.png">
                    </div>
                    <div class="col-5">
                        <img src="../static/images_store/bandai_namco.png">
                    </div>
                </div>
            </div>
        
{%endblock%}