{%extends "layout.html"%}
{%block estilos%}
<link rel="stylesheet" href='{{ url_for("static", filename="home.css") }}'>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href='{{ url_for("static", filename="carrito.css") }}'>

{%endblock%}


{%block contenido%}

    <div class="header">

        <div class="container">
            <div class="navbar navbar-center">
                <div class="logo">
            
                </div>
            </div>      
            <div class="navbar">                
            </div>

            <div class="container-slider">
                <div class="slider" id="slider">
                    <div class="slider__section">
                        <img src="../static/images_store/carrusel1.jpg" alt="" class="slider__img">
                    </div>
                    <div class="slider__section">
                        <img src="../static/images_store/carrusel2.jpg" alt="" class="slider__img">
                    </div>
                    <div class="slider__section">
                        <img src="../static/images_store/carrusel3.jpg" alt="" class="slider__img">
                    </div>
                    <div class="slider__section">
                        <img src="../static/images_store/carrusel4.jpg" alt="" class="slider__img">
                    </div>
                </div>
                <div class="slider__btn slider__btn--right"id="btn-right">&#62;</div>
                <div class="slider__btn slider__btn--left"id="btn-left">&#60;</div>
            </div>
            
            

            <div class="row">
                <div class="col-2">
                    <h2>Puedes adentrarte en el mundo del anime,ver diversos personajes a los cuales apreciaras mucho
                        y querras tenerlos, elige el que mas te guste y no te quedes con las ganas</h2>
                    <a href="" class="btn">Unete ya! &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="../static/images_store/aot.jpg" width="300px">
                </div>
            </div>
        </div>
    </div>

    <!-- Categorias Destacadas -->
    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="../static/images_store/originalkaori.jpg">
                </div>
                <div class="col-3">
                    <img src="../static/images_store/ropa.png">
                </div>
                <div class="col-3">
                    <img src="../static/images_store/yotsu.jpg">
                </div>
            </div>
        </div>
    </div>

    <!-- Productos Destacados -->
    <div class="small-container" id = "lista-productos">
        <h2 class="title">Productos Destacados</h2>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img src="../static/images_store/product-1.jpg">
                    <h4> Figura de Accion Krilin </h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p class="precio"> S./ 60.00 </p>
                    <a href="#" class="agregar-carrito" data-id="1">Agregar
                    Al Carrito</a>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="../static/images_store/product-2.jpg">
                    <h4> Figura de Accion Freezer </h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p class="precio"> S./ 60.00 </p>
                    <a href="#" class="agregar-carrito" data-id="2">Agregar
                    Al Carrito</a>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="../static/images_store/product-3.jpg">
                    <h4> Figura de Accion Bardok </h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p class="precio"> S./ 60.00 </p>
                    <a href="#" class="agregar-carrito" data-id="3">Agregar
                    Al Carrito</a>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="../static/images_store/product-4.png">
                    <h4> Figura de Accion Goku </h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p class="precio"> S./ 60.00 </p>
                    <a href="#" class="agregar-carrito" data-id="4">Agregar
                    Al Carrito</a>
                </div>
            </div>
        </div>

        <h2 class="title">Ultimos Productos</h2>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img src="../static/images_store/product-5.png">
                    <h4> Figura de Accion Naruto</h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p class="precio"> S./ 70.00 </p>
                    <a href="#" class="agregar-carrito" data-id="5">Agregar
                    Al Carrito</a>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="../static/images_store/product-6.png">
                    <h4> Figura de Accion Madara</h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p class="precio"> S./ 70.00 </p>
                    <a href="#" class="agregar-carrito" data-id="6">Agregar
                    Al Carrito</a>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="../static/images_store/product-7.png">
                    <h4> Figura de Accion Jiraiya</h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p class="precio"> S./ 70.00 </p>
                    <a href="#" class="agregar-carrito" data-id="7">Agregar
                    Al Carrito</a>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="../static/images_store/product-8.png">
                    <h4> Figura de Accion Itachi H.</h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p class="precio"> S./ 70.00 </p>
                    <a href="#" class="agregar-carrito" data-id="8">Agregar
                    Al Carrito</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img src="../static/images_store/product-9.png">
                    <h4> Sudadera Color Rojo</h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p class="precio"> S./ 90.00 </p>
                    <a href="#" class="agregar-carrito" data-id="9">Agregar
                    Al Carrito</a>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="../static/images_store/product-10.png">
                    <h4> Sudadera Color Plomo </h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p class="precio"> S./ 90.00 </p>
                    <a href="#" class="agregar-carrito" data-id="10">Agregar
                    Al Carrito</a>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="../static/images_store/product-11.png">
                    <h4> Sudadera Color Plomo</h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p class="precio"> S./ 90.00 </p>
                    <a href="#" class="agregar-carrito" data-id="11">Agregar
                    Al Carrito</a>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="../static/images_store/product-12.png">
                    <h4> Sudadera Color Negro</h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p class="precio"> S./ 90.00 </p>
                    <a href="#" class="agregar-carrito" data-id="12">Agregar
                    Al Carrito</a>
                </div>
            </div>
        </div>
    </div>

    <!-- MARCAS -->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="../static/images_store/dragon_ball.png">
                </div>
                <div class="col-5">
                    <img src="../static/images_store/ufotable.png">
                </div>
                <div class="col-5">
                    <img src="../static/images_store/toei_animation.png">
                </div>
                <div class="col-5">
                    <img src="../static/images_store/logo_empresa.png">
                </div>
                <div class="col-5">
                    <img src="../static/images_store/bandai_namco.png">
                </div>
            </div>
        </div>
    </div>

{%endblock%}