{%extends "layout.html"%}
{%block estilos%}
<link rel="stylesheet" href='{{ url_for("static", filename="home.css") }}'>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href='{{ url_for("static", filename="carrito.css") }}'>

{%endblock%}


{%block contenido%}

    <div class="header">

        <div class="container">
            <div class="navbar navbar-center">
                <div class="logo">
            
                </div>
            </div>      
            <div class="navbar">                
            </div>     

            <div class="row">
                <div class="col-2">
                    <h1>Give your Workout<br>A New Style!</h1>
                    <p>Success in't always about gratness.It's about
                    consistency.<br>Consistent  hard work again succes. 
                    Greatness will done.</p>
                    <a href="" class="btn">Explorar Ahora &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="../static/images_store/image11.png">
                </div>
            </div>
        </div>
    </div>

    <!-- Categorias Destacadas -->
    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="../static/images_store/category-1.jpg">
                </div>
                <div class="col-3">
                    <img src="../static/images_store/category-2.jpg">
                </div>
                <div class="col-3">
                    <img src="../static/images_store/category-3.jpg">
                </div>
            </div>
        </div>
    </div>

    <!-- Productos Destacados -->
    <div class="small-container">
        <h2 class="title">Productos Destacados</h2>
        <div class="row">
            <div class="col-4">
                <img src="../static/images_store/product-1.jpg">
                <h4> Camisa de color Rojo</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>50so</p>
            </div>
            <div class="col-4">
                <img src="../static/images_store/product-2.jpg">
                <h4> Camisa de color Rojo</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>50so</p>
            </div>
            <div class="col-4">
                <img src="../static/images_store/product-3.jpg">
                <h4> Camisa de color Rojo</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>50so</p>
            </div>
            <div class="col-4">
                <img src="../static/images_store/product-4.jpg">
                <h4> Camisa de color Rojo</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>50so</p>
            </div>
        </div>
        <h2 class="title">Ultimos Productos</h2>
        <div class="row">
            <div class="col-4">
                <img src="../static/images_store/product-1.jpg">
                <h4> Camisa de color Rojo</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>50so</p>
            </div>
            <div class="col-4">
                <img src="../static/images_store/product-2.jpg">
                <h4> Camisa de color Rojo</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>50so</p>
            </div>
            <div class="col-4">
                <img src="../static/images_store/product-3.jpg">
                <h4> Camisa de color Rojo</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>50so</p>
            </div>
            <div class="col-4">
                <img src="../static/images_store/product-4.jpg">
                <h4> Camisa de color Rojo</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>50so</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="../static/images_store/product-1.jpg">
                <h4> Camisa de color Rojo</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>50so</p>
            </div>
            <div class="col-4">
                <img src="../static/images_store/product-2.jpg">
                <h4> Camisa de color Rojo</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>50so</p>
            </div>
            <div class="col-4">
                <img src="../static/images_store/product-3.jpg">
                <h4> Camisa de color Rojo</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>50so</p>
            </div>
            <div class="col-4">
                <img src="c">
                <h4> Camisa de color Rojo</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>50so</p>
            </div>
        </div>
    </div>

    <!-- MARCAS -->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="../static/images_store/logo-godrej.png">
                </div>
                <div class="col-5">
                    <img src="../static/images_store/logo-coca-cola.png">
                </div>
                <div class="col-5">
                    <img src="../static/images_store/logo-oppo.png">
                </div>
                <div class="col-5">
                    <img src="../static/images_store/logo-paypal.png">
                </div>
                <div class="col-5">
                    <img src="../static/images_store/logo-philips.png">
                </div>
            </div>
        </div>
    </div>

</html>
	{%endblock%}