<!DOCTYPE html>
<html lang="en">
<head>
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href='{{ url_for("static", filename="home.css") }}'>
    <link rel="stylesheet" href='{{ url_for("static", filename="jv.css") }}'>
    <link rel="stylesheet" href='{{ url_for("static", filename="carrito.css") }}'>
    {%block estilos%}{%endblock%}
</head>
<body>
    <div class="header">

        <div class="container">
            <div class="navbar navbar-center">
                <div class="logo">
                   <div class="imagen1"></div>
                </div>
            </div>      
            <div class="navbar">
                    <div class="searchbar">
                        <input type="text" id="busqueda" name="busqueda">
                        <button id="button1" type="submit">Search</button>
                    </div>
                    <div class="izq" id="izq">
                        <ul id="MenuItems">
                            <nav class="cen_iz">
                                <a href="/">Menu</a>
                                {% if current_user.is_authenticated %}
                                    <a href="logout">Logout</a>
                                {% else %}
                                    <a href="register">Register</a>
                                    <a href="login">Login</a>
                                {% endif %}            

                                {% if current_user.is_authenticated %}
                                    <div>Bienvenido {{current_user.username}}</div>
                                {% endif %}
                                <li class="submenu">
                                    <a href="carrito"><img src="https://cdn-icons-png.flaticon.com/512/107/107831.png" width="30px" height="30px" id="img-carrito"></a>
                                
                                    <div id="carrito">
                                    
                                        <table id="lista-carrito" class="u-full-width">
                                            <thead>
                                                <tr>
                                                    <th>Imagen</th>
                                                    <th>Nombre</th>
                                                    <th>Precio</th>
                                                    <th>Cantidad</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tbody><tr>
                                                    <td>
                                                        <img src="../static/images_store/phone2.png" width="100">
                                                    </td>
                                                    <td> Camisa de color Rojo </td>
                                                    <td> $50 </td>
                                                    <td> 3 </td>
                                                    <td>
                                                        <a href="#" class="borrar-curso" data-id="2">X</a>
                                                    </td>
                                                    </tr><tr>
                                                    <td>
                                                        <img src="../static/images_store/phone2.png" width="100">
                                                    </td>
                                                    <td> Camisa de color Rojo </td>
                                                    <td> $90 </td>
                                                    <td> 1 </td>
                                                    <td>
                                                        <a href="#" class="borrar-curso" data-id="3">X</a>
                                                    </td>
                                                    </tr><tr>
                                                    <td>
                                                        <img src="../static/images_store/phone2.png" width="100">
                                                    </td>
                                                    <td> Camisa de color Rojo </td>
                                                    <td> $100 </td>
                                                    <td> 1 </td>
                                                    <td>
                                                        <a href="#" class="borrar-curso" data-id="6">X</a>
                                                    </td>
                                                    </tr></tbody>
                                            </tbody>
                                        </table>
    
                                        <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
                                    </div>
                                </li>

                            </nav>
                        </ul>
                    </div>
            </div>     
        </div>
    </div>

	{%block contenido%}
	
	{%endblock%}
    <script src='{{ url_for("static", filename="toggleMenu.js") }}'>
    </script>
</body>
</html>