<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../static/home.css">
    <link rel="stylesheet" type="text/css" href="../static/jv.css">
    <link rel="stylesheet" type="text/css" href="../static/carrito.css">
    <link rel="stylesheet" type="text/css" href="../static/login.css">

    <script type="text/javascript">
        

        function logout()
        {
            username = null;
            psw = null;

            const request = new XMLHttpRequest();
            request.open('POST', 'http://127.0.0.1:5000/logout');
            request.onload = () => {
            location.href = "menu.html";
            }
            request.send("sexp");

        }

        document.addEventListener('DOMContentLoaded', () => {
            const request = new XMLHttpRequest();
            request.open('POST', 'http://127.0.0.1:5000/logout');

            document.querySelector("#form").onsubmit = () => {
                const username = document.querySelector("#username").value;
                const psw = document.querySelector("#password").value;

                request.open('POST', 'http://127.0.0.1:5000/login');

                request.onload = () => {
                    const data = JSON.parse(request.responseText);
                    alert("Has iniciado sesion con exito");
                    if(data['login']) {
                        localStorage.setItem("username", username);
                        location.href = "menu.html";
                    } else {
                        document.querySelector("#username").value = "";
                        document.querySelector("#password").value = "";
                    }
                }

                const data = new FormData();
                data.append('username', username);
                data.append('password', psw);

                request.send(data);
                return false;
            };
        });
    </script>
    <title>Login</title>
    
</head>

<body>
    <a onclick="logout()" class="image"></a>
    <div class="header"></div>
    <div class="container">
        <div class="Login">
        <header>
            <h1>Iniciar sesión</h1> 
        </header>
        <section class="all">
        <form class = "login" id="form">
            <br>
            <label class="usuario_" for = "username">Nombre de Usuario</label> <br>
            <input id="username" type="text" placeholder="Alberto Llamoca N" name="user" class="control" autocomplete="off" required>
            <br>
            <label class="usuario_" for="password">password</label>
            <input id="password" type="password" placeholder="Ingresa tu password" name="password"class="control" autocomplete="off" required>
            <button class="button2">Iniciar Sesion</button>
        </form>
        <a href="#" class="opciones" >¿Olvidaste tu password?</a>
        <a href="register.html" class="opciones">register</a>
            </section>
        </div>
    </div>
</body>
</html>