<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href='{{ url_for("static", filename="home.css") }}'>
    <link rel="stylesheet" href='{{ url_for("static", filename="carrito.css") }}'>

    <title>index</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <script>
        function logout(){
            location.href = "login.html";
        }

        function select_product(id_product){
            const request = new XMLHttpRequest();
            request.open('POST', 'http://127.0.0.1:5000/main/select');
            const data = new FormData();
            data.append('product_id', id_product);
            data.append('action', 'select');
            request.send(data);
            request.onload = () => {
                location.href = "productos_link.html";
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            const request = new XMLHttpRequest();
            request.open('GET', 'http://127.0.0.1:5000/product');
            request.onload = () => {
                const data = JSON.parse(request.responseText);
                if(data){
                    var productos = data;
                    for(let i in productos){

                        var img = document.createElement("img");
                        img.setAttribute("src","../static/images_store/" + productos[i]['img']);
                        img.setAttribute("width","280px");

                        var price = document.createElement("tr");
                        price.setAttribute("class", "precio");
                        price.setAttribute("style", "text-align:center;");
                        price.setAttribute("name",productos[i]['price']);
                        price.innerHTML = `
                            <td>  ${productos[i]['price']} $ </td>
                        `;

                        var select = document.createElement("input");
                        select.setAttribute("type","button");
                        select.setAttribute("class", "botons");
                        select.setAttribute("value",productos[i]['name']);
                        select.setAttribute("onclick","select_product("+productos[i]['product_id']+")");

                        for(let i=0; i<4; i++){
                            document.querySelector(".products").appendChild(document.createElement("br"));
                        }

                        document.querySelector(".products").appendChild(img);

                        for(let i=0; i<1; i++){
                            document.querySelector(".products").appendChild(document.createElement("br"));
                        }

                        document.querySelector(".products").appendChild(price);

                        for(let i=0; i<1; i++){
                            document.querySelector(".products").appendChild(document.createElement("br"));
                        }

                        document.querySelector(".products").appendChild(select);
                    }

                    for(let i=0; i<1; i++){
                        document.querySelector(".products").appendChild(document.createElement("br"));
                    }
                }
            }

        request.send("get request");
        });

    </script>

</head>
<link rel="stylesheet" type="text/css" href='../static/home.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href='{{ url_for("static", filename="carrito.css") }}'>
<body>
    <a href="menu.html" class="image"></a>
    <div class="buscador">
        <input type="text" id="busqueda" name="busqueda">
        <button id="button1" type="submit">search</button>
        <a href="login.html">login</a>
        <a href="register.html">register </a>
</div>
    <div class="header">

        <div class="container">
            <div class="navbar navbar-center">
                <div class="logo">
            
                </div>
            </div>      
            <div class="navbar">                
            </div>

            <div class="container-slider">
                <div class="slider" id="slider">
                    <div class="slider__section">
                        <img src="../static/images_store/carrusel1.jpg" alt="" class="slider__img">
                    </div>
                    <div class="slider__section">
                        <img src="../static/images_store/carrusel2.jpg" alt="" class="slider__img">
                    </div>
                    <div class="slider__section">
                        <img src="../static/images_store/carrusel3.jpg" alt="" class="slider__img">
                    </div>
                    <div class="slider__section">
                        <img src="../static/images_store/carrusel4.jpg" alt="" class="slider__img">
                    </div>
                </div>
                <div class="slider__btn slider__btn--right"id="btn-right">&#62;</div>
                <div class="slider__btn slider__btn--left"id="btn-left">&#60;</div>
            </div>
            
            

            <div class="row">
                <div class="col-2">
                    <h2>Puedes adentrarte en el mundo del anime,ver diversos personajes a los cuales apreciaras mucho
                        y querras tenerlos, elige el que mas te guste y no te quedes con las ganas</h2>
                    <a href="" class="btn">Unete ya! &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="../static/images_store/aot.jpg" width="300px">
                </div>
            </div>
        </div>
    </div>

    <!-- Categorias Destacadas -->
    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="../static/images_store/originalkaori.jpg">
                </div>
                <div class="col-3">
                    <img src="../static/images_store/ropa.png">
                </div>
                <div class="col-3">
                    <img src="../static/images_store/yotsu.jpg">
                </div>
            </div>
        </div>
    </div>

    <!-- Productos Destacados -->
    <div class="small-container" id = "lista-productos">
        <h2 class="title">Productos Destacados</h2>
        <div class="row">
            
        </div>
        <h2 class="title">Ultimos Productos</h2>

        <div class="products" style="align-items: center; text-align: center;">
        </div>

    </div>
    <!-- MARCAS -->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="../static/images_store/dragon_ball.png">
                </div>
                <div class="col-5">
                    <img src="../static/images_store/ufotable.png">
                </div>
                <div class="col-5">
                    <img src="../static/images_store/toei_animation.png">
                </div>
                <div class="col-5">
                    <img src="../static/images_store/logo_empresa.png">
                </div>
                <div class="col-5">
                    <img src="../static/images_store/bandai_namco.png">
                </div>
            </div>
        </div>
    </div>


<script src='{{ url_for("static", filename="slider.js") }}'>
</script>
</body>
</html>