{%extends "layout.html"%}
<head>
  <title>register</title>
</head>

{%block estilos%}
<link rel="stylesheet" href='{{ url_for("static", filename="register.css") }}'>
{%endblock%}
{%block contenido%}


<div class="container">
  <!-- <hr> -->
  <h3>Crear cuenta</h3>
  <div class="box">   
    <form action="{{url_for('register')}}" method='post' autocomplete="off">
      <div class="message">{{ message }}</div>

      <label class="e_entrada"><b>Username</b></label>
      <input class ="entrada" type="text" autocomplete="off" placeholder="Juan,José,Raúl" name="username" id="username" required>

      <label class="e_entrada"><b>E-mail </b></label>
      <input class ="entrada" type="email" autocomplete="off" placeholder="****@gmail.com" name="email" id="email" required>
  
      <label class="e_entrada"><b>Contraseña</b></label>
      <input class ="entrada" type="password" autocomplete="off" placeholder="ingresar Contraseña" name="password" id="password" required>

      <label class="e_entrada"><b>Confirmar Contraseña</b></label>
      <input class ="entrada" type="password" autocomplete="off" placeholder="ingresar Contraseña" name="second_password" id="psw" required>
  
  
      <button type="submit" class="registerbtn">Continuar</button>
    </form>
    <p class="worddark">Already have account? <a class="worddark" href="{{ url_for('login')}}">Login here</a></p>
  </div>
</div>

{%endblock%}